/** ------------ what-is-floral  ------------   */
.what-is-floral {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50vh;
    color: var(--lightPink);
    align-items: center;
    justify-items: center;
}

.what-is-floral .grid-item {

    align-items: center;
    justify-items: center;
}

.what-is-floral .text {
    width: 75%;
    text-align: left;
    overflow: auto;
    font-size: 2.2vh;
    font-family: Montserrat;
}

.what-is-floral .text .label {
    font-size: 3vh;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 0;
    line-height: 36px;
    color: var(--darkPink);
}

.what-is-floral .pic {
    width: 70%;
    object-fit: cover;
    overflow: visible;
}

/** ------------ Present  ------------   */
.present {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--backPink);
}

.present .item {
    display: flex;
    flex-basis: 20%;
}

.present .label {
    justify-content: left;
    align-items: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 48px;
    padding-left: 5%;
    color: var(--darkPink);
}

.present .description {
    justify-content: left;
    align-items: center;
    font-family: Montserrat;
    color: var(--darkPink);
    font-size: 36px;
    padding-left: 5%;
    padding-right: 15%;
}

.present .pictures {
    margin-top: 2%  ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    flex-direction: row;
}

/*.present .pictures .picItem{*/
/*    width: 20%;*/
/*    height: 45vh;*/
/*    background-color: #D87878;*/
/*    margin-inline: 5%;*/
/*}*/


/** --------------  Create ------------   */
.create {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}


/*  -------------- Order ------------   */
.custom-order {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--backPink);
}

/*  -------------- BG ------------   */
.rose-bg {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 100vw;
    position: static;
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-attachment: unset;*/
    background-position: center center;
}

.rose-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
}

/*  -------------- Quote ------------   */
.quote {
    height: 50vh;

}


/*  -------------- Contact us  ------------   */
.choseOrContact {
    height: 25vh;
    background-color: var(--backPink);
}


/*  -------------- Footer  ------------   */